@import
url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

        .main {
            /* margin: 20px; */
            background-color: rgb(220, 8, 240);
            background-image: linear-gradient(rgb(189, 121, 196), rgb(245, 210, 245));
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(1, 6, 34);
        }
        li {
            float: right;
        }
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover{
            background-color: #111;
        }

/* Center..... */
        /* section {
            display: grid;
            justify-content: center;
            align-content: center;
            padding: 16px;
            border-radius: 5%;
            height: 420px;
            width: 400px;
            background-color:white; 
            margin-left: 450px;
            margin-bottom: 35px;
            box-shadow: 0px 3px 3px, 0px 3px 3px;
          } */
          /* .button1 {
            width: 200px;
            background-color: rgb(1, 6, 34); 
            border-radius: 10%;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 25px;
            box-shadow: 0px 3px 3px, 0px 3px 3px;
          }
          .column {
            margin-left: 300px;
            margin-right: 300px;
            margin-bottom: 30px;
            padding: 16px;
            text-align: left;
            border: solid;
            border-color: rgb(160, 195, 241);
            background-color:white; 
          }
          input{
              padding: 15px;
              margin: 10px 0 40px 0;
              display: inline-block;
              border: none;
              background: #f1f1f1;
          }
          .log {
            display: grid;
            justify-content: center;
            align-content: center;
            text-align: center;
        }
        .record {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        
        button {
          background-color: #04AA6D;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 20%;
        }
        
        button:hover {
          opacity: 0.8;
        }
        
        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
        }
        
        img.avatar {
          width: 35%;
          border-radius: 50%;
        }
        
        .container {
            border: 3px solid #f1f1f1;
            justify-content: center; 
            align-content: center;
            width: 450px;
            height: 400px;
            padding: 4%;
            box-shadow: 200px;
        }
     */
